# Database
DATABASE_URL=

# LLMs
DEEPSEEK_API_KEY=
GROQ_API_KEY=

# Lamgsmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# ASR Models
SARVAM_API_KEY=
DEEPGRAM_API_KEY=
SHUNYALABS_API_KEY=

